<div>
    <header>
        <a href="">Nome do Usuario</a>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Início</a>
            </li>            
            <li>
                Cursos
                <ul>
                    <li>
                        <a href="/disciplinas/cursos">Todos Cursos</a>
                    </li>
                    <li>
                        <a href="/disciplinas/curso/new">Cadastrar Curso</a>
                    </li>
                </ul>
            </li>
            <li>
                Disciplinas
                <ul>
                    <li>
                        <a href="/disciplinas/disciplinas">Todas Disciplinas</a>
                    </li>
                    <li>
                        <a href="/disciplinas/disciplina/new">Cadastrar Disciplina</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">PPT</a>
            </li>
        </ul>
    </nav>
</div>